html, body{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 700px) {
    input::placeholder{
        position:relative;
        color:white;
        width:100%;
        background-color: rgb(0, 255, 89);
        }
    }
    /*when browser size is less than 700*/
    @media only screen and (min-width: 700px) {
        input::placeholder{
            position:relative;
            color:black;
            background-color: rgb(172, 127, 255);
            font-size:0cm;
            
            }
        }
